include ./partials/header.pug

section 
  each block, index in blocks
    form(method='POST' action='/bingo')
      input(type='hidden', value=block.word, name=block.word)
      if (used.indexOf(block.word) > -1)
        input(type='submit', class='dab', value=block.word, title=block.description)
      else
        input(type='submit', value=block.word, title=block.description)
